@page "/"

<PageTitle>Home</PageTitle>

<h1>PGGM Components</h1>

<center>
<img src="components.png" alt="PGGM Components Logo" style="width: 100%; max-width: 400px; height: auto;" />
</center>
<p>Welcome to the PGGM Components library. Explore the various components available for your Blazor applications.</p>
<p>Use the navigation menu to access different component demos and documentation.</p>
