@namespace Pggm.Components.Sample.Layout
@using Microsoft.AspNetCore.Components.Routing
@inherits ComponentBase

<div class="nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    
    <NavLink class="nav-link" href="pggm-wizard">
        Wizard
    </NavLink>
    <NavLink class="nav-link" href="pggm-progress-indicator">
        Progress
    </NavLink>
    <NavLink class="nav-link" href="pggm-accordion">
        Accordion
    </NavLink>
    <NavLink class="nav-link" href="pggm-alert">
        Alert
    </NavLink>
    <NavLink class="nav-link" href="pggm-button">
        Button
    </NavLink>
    <NavLink class="nav-link" href="pggm-checkbox">
        Checkbox
    </NavLink>
    <NavLink class="nav-link" href="pggm-dialog">
        Dialog
    </NavLink>
    <NavLink class="nav-link" href="pggm-error-message">
        Error Message
    </NavLink>
    <NavLink class="nav-link" href="pggm-fieldset">
        Fieldset
    </NavLink>
    <NavLink class="nav-link" href="pggm-file-upload">
        File Upload
    </NavLink>
    <NavLink class="nav-link" href="pggm-header">
        Header
    </NavLink>
    <NavLink class="nav-link" href="pggm-icon">
        Icon
    </NavLink>
    <NavLink class="nav-link" href="pggm-input">
        Input
    </NavLink>
    <NavLink class="nav-link" href="pggm-input-iban">
        Input IBAN
    </NavLink>
    <NavLink class="nav-link" href="pggm-input-phone">
        Input Phone
    </NavLink>
    <NavLink class="nav-link" href="pggm-input-date">
        Input Date
    </NavLink>
    <NavLink class="nav-link" href="pggm-label">
        Label
    </NavLink>
    <NavLink class="nav-link" href="pggm-link">
        Link
    </NavLink>
    <NavLink class="nav-link" href="pggm-radio">
        Radio
    </NavLink>
    <NavLink class="nav-link" href="pggm-select">
        Select
    </NavLink>
    <NavLink class="nav-link" href="pggm-switch">
        Switch
    </NavLink>
    <NavLink class="nav-link" href="pggm-textarea">
        Textarea
    </NavLink>
    <NavLink class="nav-link" href="pggm-tooltip">
        Tooltip
    </NavLink>
    <NavLink class="nav-link" href="pggm-tabs">
        Tabs
    </NavLink>
    <NavLink class="nav-link" href="pggm-table">
        Table
    </NavLink>
    <NavLink class="nav-link" href="pggm-table-formatters">
        Table Formatters
    </NavLink>
    
</div>