<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Components</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-accordion">
                <span class="bi bi-arrow-down-up-nav-menu" aria-hidden="true"></span> PGGM Accordion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-alert">
                <span class="bi bi-exclamation-triangle-fill-nav-menu" aria-hidden="true"></span> PGGM Alert
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-button">
                <span class="bi bi-grid-3x3-gap-fill-nav-menu" aria-hidden="true"></span> PGGM Button
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-checkbox">
                <span class="bi bi-check-square-fill-nav-menu" aria-hidden="true"></span> PGGM Checkbox
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-dialog">
                <span class="bi bi-window-dock-nav-menu" aria-hidden="true"></span> PGGM Dialog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-error-message">
                <span class="bi bi-exclamation-circle-fill-nav-menu" aria-hidden="true"></span> PGGM Error Message
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-fieldset">
                <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> PGGM Fieldset
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-file-upload">
                <span class="bi bi-cloud-upload-fill-nav-menu" aria-hidden="true"></span> PGGM File Upload
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-header">
                <span class="bi bi-type-h1-nav-menu" aria-hidden="true"></span> PGGM Header
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-input">
                <span class="bi bi-input-cursor-text-nav-menu" aria-hidden="true"></span> PGGM Input
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-input-iban-demo">
                <span class="bi bi-credit-card-2-front-nav-menu" aria-hidden="true"></span> PGGM Input IBAN
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="input-phone-demo">
                <span class="bi bi-telephone-fill-nav-menu" aria-hidden="true"></span> PGGM Input Phone
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inputdate-demo">
                <span class="bi bi-calendar-date-fill-nav-menu" aria-hidden="true"></span> PGGM Input Date
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-label">
                <span class="bi bi-tag-fill-nav-menu" aria-hidden="true"></span> PGGM Label
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components/link">
                <span class="bi bi-link-45deg-nav-menu" aria-hidden="true"></span> PGGM Link
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components/radio">
                <span class="bi bi-circle-nav-menu" aria-hidden="true"></span> PGGM Radio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components/select">
                <span class="bi bi-menu-button-wide-nav-menu" aria-hidden="true"></span> PGGM Select
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components/switch">
                <span class="bi bi-toggle-on-nav-menu" aria-hidden="true"></span> PGGM Switch
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
