@namespace Pggm.Components.Sample.Layout
@using Microsoft.AspNetCore.Components.Routing
@inherits ComponentBase

<div class="nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="counter">
        Counter
    </NavLink>
    <NavLink class="nav-link" href="weather">
        Weather
    </NavLink>
    <NavLink class="nav-link" href="pggm-wizard">
        Wizard
    </NavLink>
    <NavLink class="nav-link" href="pggm-progress">
        Progress
    </NavLink>
    <NavLink class="nav-link" href="pggm-accordion">
        Accordion
    </NavLink>
    <NavLink class="nav-link" href="pggm-alert">
        Alert
    </NavLink>
    <NavLink class="nav-link" href="pggm-button">
        Button
    </NavLink>
    <NavLink class="nav-link" href="pggm-checkbox">
        Checkbox
    </NavLink>
    <NavLink class="nav-link" href="pggm-dialog">
        Dialog
    </NavLink>
    <NavLink class="nav-link" href="pggm-error-message">
        Error Message
    </NavLink>
    <NavLink class="nav-link" href="pggm-fieldset">
        Fieldset
    </NavLink>
    <NavLink class="nav-link" href="pggm-file-upload">
        File Upload
    </NavLink>
    <NavLink class="nav-link" href="pggm-header">
        Header
    </NavLink>
    <NavLink class="nav-link" href="pggm-input">
        Input
    </NavLink>
    <NavLink class="nav-link" href="pggm-input-iban-demo">
        Input IBAN
    </NavLink>
    <NavLink class="nav-link" href="input-phone-demo">
        Input Phone
    </NavLink>
    <NavLink class="nav-link" href="inputdate-demo">
        Input Date
    </NavLink>
    <NavLink class="nav-link" href="pggm-label">
        Label
    </NavLink>
    <NavLink class="nav-link" href="components/link">
        Link
    </NavLink>
    <NavLink class="nav-link" href="components/radio">
        Radio
    </NavLink>
    <NavLink class="nav-link" href="components/select">
        Select
    </NavLink>
    <NavLink class="nav-link" href="components/switch">
        Switch
    </NavLink>
    <NavLink class="nav-link" href="textarea">
        Textarea
    </NavLink>
    <NavLink class="nav-link" href="tooltip-demo">
        Tooltip
    </NavLink>
    <NavLink class="nav-link" href="tabs">
        Tabs
    </NavLink>
</div>