<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Components</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-button-demo">
                <span class="bi bi-grid-3x3-gap-fill-nav-menu" aria-hidden="true"></span> PGGM Button
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alert-demo">
                <span class="bi bi-exclamation-triangle-fill-nav-menu" aria-hidden="true"></span> PGGM Alert
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accordion">
                <span class="bi bi-arrow-down-up-nav-menu" aria-hidden="true"></span> PGGM Accordion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-checkbox-demo">
                <span class="bi bi-check-square-fill-nav-menu" aria-hidden="true"></span> PGGM Checkbox
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pggm-dialog-demo">
                <span class="bi bi-window-dock-nav-menu" aria-hidden="true"></span> PGGM Dialog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fieldset-demo">
                <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> PGGM Fieldset
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="error-message">
                <span class="bi bi-exclamation-circle-fill-nav-menu" aria-hidden="true"></span> PGGM Error Message
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
